sudo: required
services:
  - docker

before_install:
  - docker build -t taylorzhangyx/client-angular -f ./client-angular/Dockerfile.dev ./client-angular/
  - docker build -t taylorzhangyx/server-gin -f ./server-gin/Dockerfile.dev ./server-gin

script:
  # - docker run -e CI=true taylorzh/client-react npm test
  # - docker run taylorzh/client-flask pytest
  - docker run taylorzhangyx/server-gin go test ./...
  - docker run taylorzhangyx/client-angular npm run test:ci
