sudo: required
services:
  - docker

before_install:
  - docker build -t taylorzh/client-react -f ./client-react/Dockerfile.dev ./client-react
  - docker build -t taylorzh/client-flask -f ./client-flask/Dockerfile.dev ./client-flask
  - docker build -t taylorzh/server-gin -f ./server-gin/Dockerfile.dev ./server-gin

script:
  - docker run -e CI=true taylorzh/client-react npm test
  - docker run taylorzh/client-flask pytest
  - docker run taylorzh/server-gin go test ./...

after_success:
  - docker build -t taylorzhangyx/zhangyx.com-client-react ./client-react
  - docker build -t taylorzhangyx/zhangyx.com-nginx ./nginx
  - docker build -t taylorzhangyx/zhangyx.com-server-gin ./server-gin
  - docker build -t taylorzhangyx/zhangyx.com-client-flask ./client-flask

# Log in to the docker CLI
  - echo "$DOCKER_PWD" | docker login -u  "$DOCKER_ID" --password-stdin

# # Take those images and push them to DOCKER HUB
  - docker push taylorzhangyx/zhangyx.com-client-react
  - docker push taylorzhangyx/zhangyx.com-nginx
  - docker push taylorzhangyx/zhangyx.com-server-gin
  - docker push taylorzhangyx/zhangyx.com-client-flask

deploy:
    provider: elasticbeanstalk
    region: "us-west-1"
    app: "taylorzh"
    env: "MultiDocker-env"
    bucket_name: "elasticbeanstalk-us-west-1-910566399270"
    bucket_path: "taylorzhcom"
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    on:
        branch: master
