version: "3"
services:
    mongo:
        image: "mongo:3.6"
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example

    redis:
        restart: always
        image: "redis:6"

    server-gin:
        restart: always
        build:
            dockerfile: Dockerfile.dev
            context: ./server-gin
        volumes:
            - ./server-gin:/go/src/app
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=
            - PGUSER=postgres
            - PGHOST=postgres
            - PGDATABASE=postgres
            - PGPASSWORD=postgres_password
            - PGPORT=5432

    client-react:
        restart: always
        stdin_open: true
        build:
            dockerfile: Dockerfile.dev
            context: ./client-react
        volumes:
            - /app/node_modules
            - ./client-react:/app

    client-flask:
        build:
            dockerfile: Dockerfile.dev
            context: ./client-flask
        volumes:
            - /app/taylorzh-venv
            - ./client-flask:/app

    nginx:
        restart: always
        build:
            dockerfile: Dockerfile.dev
            context: ./nginx
        ports:
            - '22333:80'
