version: "3"
services:
    mongo:
        image: "mongo:4.2"
        restart: always
        ports:
            - '27017:27017'
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: rootpassword
        volumes:
            - 'mongo:/data/db'

    redis:
        restart: always
        image: "redis:6"

    server-gin:
        restart: always
        build:
            dockerfile: Dockerfile.dev
            context: ./server-gin
        volumes:
            - ./server-gin:/go/src/app
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - PGUSER=postgres
            - PGHOST=postgres
            - PGDATABASE=postgres
            - PGPASSWORD=postgres_password
            - PGPORT=5432

    server-node:
        restart: always
        depends_on:
            - 'mongo'
        build:
            dockerfile: Dockerfile.dev
            context: ./server-node
        volumes:
            - /app/node_modules
            - ./server-node:/app
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - MONGODB_URI_LOCAL=mongodb://root:rootpassword@mongo:27017/admin

    # client-react:
    #     restart: always
    #     stdin_open: true
    #     build:
    #         dockerfile: Dockerfile.dev
    #         context: ./client-react
    #     volumes:
    #         - /usr/src/app/node_modules
    #         - ./client-react:/usr/src/app


    nginx:
        restart: always
        build:
            dockerfile: Dockerfile.dev
            context: ./nginx
        ports:
            - '22333:80'
volumes:
    mongo:
